#contact {
	@include flexbox();
	@include align-items(center);
	background-image: url("../images/pattern-light.png");
	background-repeat: repeat;
	padding-bottom: 3rem;
	padding-top: 3rem;
	height: 100vh;
	.contact_wrapper {
		padding: 3rem;
	}
}
@media (max-width: 992px) {
	#contact {
		height: 600px;
		padding: 6rem 15px;
		.contact_wrapper {
			.contact_title_wrap {
				text-align: center;
				padding-bottom: 2rem;
				padding-top: 2rem;
			}
		}
	}
}