#contact {
	@include flexbox();
	@include align-items(center);
	//background: url("../images/pattern-light.png") repeat;
    background-color: #f7f7f7;
    padding-top: 10rem;
    padding-bottom: 10rem;
    height: 650px;

	.contact_text {
      margin-top: 30px;
      border-left: 10px groove;
      padding-left: 15px;
	}
	.contact_links {
      text-align: left;
      line-height: 30px;
      font-size: 16px;
      text-transform: uppercase;
      padding-left: 20px;
      margin-top: 30px;

      a {
        color: #333333;
        display: block;
        text-decoration: none;
        letter-spacing: 2px;
      }
      
      i {
        color: #e06275;
      }

      span {
        margin-left: 10px;
      }
	}
}
@media (max-width: 992px) {
	#contact {
      padding: 8rem 15px;
	}
}