#contact {
	@include flexbox();
	@include align-items(center);
	background-image: url("../images/bg-hero-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	padding-bottom: 3rem;
	padding-top: 3rem;
	height: 100vh;
	.contact_wrapper {
		background-color: #ffffff;
		box-shadow: 0 0 50px rgba(51, 51, 51, 0.3);
		border-radius: 10px;
		padding: 3rem;
	}
}
@media (max-width: 992px) {
	#contact {
		height: 600px;;
	}
}