#demo {
    background-color: #f7f7f7;

    .demo_title {
      background-color: #242540;
      text-transform: uppercase;
      text-align: center;
      padding: 30px 0px;
      color: #ffffff;

      h2 {
        margin: 0px;
      }
    }

    .demo_bg {
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      flex-wrap: wrap;

      .demo_bg_wrap {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        width: 50%;
        height: 330px;

        .demo_content {
          width: 100%;
          color: #ffffff;

          .demo_bg_title {
            padding: 20px 0px;

            h4 {
              letter-spacing: 10px;
              margin: 0;
              text-transform: uppercase;
            }
          }
          .demo_links {
            a {
              display: inline-block;
              background-image: none;
              border: 1px solid #fff;
              color: #fff;
              letter-spacing: 1px;
              line-height: 35px;
              padding: 0px 20px;
              margin: 5px 10px;
              text-transform: uppercase;
              height: 40px;
              vertical-align: middle;
              white-space: nowrap;

              transition: all .3s ease;
              -webkit-transition: all .3s ease;
              -moz-transition: all .3s ease;


              &:hover {
                background-color: #D2929C;
                border-color: #D2929C;
              }
              &:hover,
              &:visited,
              &:active {
                text-decoration: none;
              }
            }
          }
          .demo_text {
            width: 50%;
            margin: 0 auto;
            padding: 15px 0px;
            font-size: 16px;

            a {
              letter-spacing: 5px;
              display: block;
              font-weight: 700;
              color: #f7df29;
              text-transform: uppercase;
              padding-bottom: 5px;
              border-bottom: 2px solid transparent;
              width: 100px;
              margin: 15px auto 0 auto;
              text-decoration: none;
              font-size: 14px;

              &:hover,
              &:active,
              &:visited {
                text-decoration: none;
                border-bottom: 2px solid #f7df29;
              }
            }
          }
        }
      }
    }

    .demo_bg:nth-child(2){
      .demo_bg_wrap:nth-child(1) {
        background-image: url("../images/demos/chat.jpg");
      }

      .demo_bg_wrap:nth-child(2) {
        background-image: url("../images/demos/music.jpg");
      }

      .demo_bg_wrap:nth-child(3) {
        background-image: url("../images/demos/route-v2.jpg");
      }

      .demo_bg_wrap:nth-child(4) {
        background-image: url("../images/demos/trello.jpg");
      }

      .demo_bg_wrap:nth-child(5) {
        background-image: url("../images/demos/tweet.jpg");
      }

      .demo_bg_wrap:nth-child(6) {
        background-image: url("../images/demos/beatles.jpg");
      }
    }

}

@media screen and (max-width: 992px){
    #demo {
      .demo_bg {
        .demo_bg_wrap {
          width: 100%;

          .demo_content {
            .demo_text {
              font-size: 14px;
            }
          }
        }
      }
    }
}

@media screen and (max-width: 480px) {
  #demo {

    .demo_bg > .demo_bg_wrap > .demo_content {
      .demo_bg_title {
        h4 {
          letter-spacing: 6px;
        }
      }
      .demo_text {
        width: 75%;
      }
    }

  }
}