#navbar_menu {

	.navbar {
		margin-bottom: 0;
		background-color: rgba(0, 0, 0, 0);
		transition: all, .2s, linear;
		z-index: 99999;
		width: 100%;
		border-radius: 0;
		border: none;


		.navbar-nav > li > a {
			padding: 5px 5px;
			margin: 20px 20px;
			color: #ffffff;
			font-family: 'Ubuntu', sans-serif;
			font-size: 16px;
			letter-spacing: 2px;
			text-transform: uppercase;
			transition: all 0.2s linear;
			-webkit-tap-highlight-color: transparent;
		}

		.navbar-nav {
			display: inline-block;
			float: none;
			vertical-align: top;
			visibility: hidden;
		}

		.navbar-collapse {
			text-align: center;
		}
	}
	.navbar_fixed {
		position: fixed;
		width: 100%;
		top: 0;
        transition: background-color 0.2s,
			transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        a.nav_top {
          color: transparent;
          display: block;
          background-color: transparent;
          border-bottom-left-radius: 50%;
          font-size: 25px;
          line-height: 40px;
          text-align: center;
          text-decoration: none;

          position: absolute;
          top: 61px;
          right: 0;
          width: 50px;
          height: 50px;
          transition: background-color 0.2s,
            transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);

          i {
            position: relative;
            top: 0px;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
          }
        }
	}
	.hidden-nav {
		display: none;
	}
	.is-fill {
		background-color: #242540;
		box-shadow: 0 1px 0 #242540;
		.navbar-nav {
			margin: 0px;
			visibility: visible;
		}
		.navbar-nav > li > a {
			margin: 15px 15px;
			font-style: normal;
			border-bottom: 1px solid transparent;
			text-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;

			&:hover {
				background-color: transparent;
				border-bottom-color: #ffffff;
				text-decoration: none;
			}
		}

      a.nav_top {
        background-color: #242540;
        color: #ffffff;

        &:hover,
        &:active,
        &:visited {
          text-decoration: none;
        }
        &:hover i{
          color: #e06275;
          top: -5px;
        }
      }
	}
}

@media screen and (max-width: 767px) {
	#navbar_menu {
		.hidden-nav {
			display: block;
			.nav > li {
				float: left;
			}
			.navbar-nav > li > a {
				border: 2px solid transparent;
				border-radius: 50%;
				margin: 10px 10px;
				font-size: 25px;

				&:hover {
					border-color: #ffffff;
				}
			}
		}
		.is-fill .hidden-nav .navbar-nav > li > a {
			padding: 12px 12px;
		}
	}
}

@media screen and (max-width: 450px){
	#navbar_menu {
		.hidden-nav {
			.navbar-nav > li > a {
				font-size: 20px;
			}
		}
		.is-fill .hidden-nav .navbar-nav > li > a {
			padding: 10px 10px;
		}
	}
}