#navbar_menu {

	.navbar {
		margin-bottom: 0;
		background-color: rgba(0, 0, 0, 0);
		transition: all, .2s, linear;
		z-index: 99999;
		width: 100%;
		border-radius: 0;
		border: none;
		
		.navbar-nav > li > a {
			padding: 5px 5px;
			margin: 20px 20px;
			color: #ffffff;
			font-family: 'Ubuntu', sans-serif;
			font-size: 16px;
			letter-spacing: 2px;
			text-transform: uppercase;
			transition: all 0.2s linear;
			-webkit-tap-highlight-color: transparent;
		}

		.navbar-nav {
			display: inline-block;
			float: none;
			vertical-align: top;
			visibility: hidden;
		}

		.navbar-collapse {
			text-align: center;
		}
	}
	.navbar_fixed {
		position: fixed;
		width: 100%;
		top: 0;
		transition: background-color 0.2s,
			transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	}
	.hidden-nav {
		display: none;
	}
	.is-fill {
		background-color: #52536b;
		box-shadow: 0 1px 0 #52536b;
		.navbar-nav {
			visibility: visible;
		}
		.navbar-nav > li > a {
			margin: 15px 15px;
			font-style: normal;
			border-bottom: 1px solid transparent;
			text-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;

			&:hover {
				background-color: transparent;
				border-bottom-color: #ffffff;
				text-decoration: none;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	#navbar_menu {
		.hidden-nav {
			display: block;
			.nav > li {
				float: left;
			}
			.navbar-nav > li > a {
				border-radius: 5px;
				margin: 5px 10px;
				font-size: 25px;

				&:hover {
					background-color: rgba(255, 255, 255, 0.9);
					text-decoration: none;
					color: #855f92;
				}
			}
		}
		.is-fill .hidden-nav .navbar-nav > li > a {
			padding: 10px 20px;
		}
	}
}

@media screen and (max-width: 450px){
	#navbar_menu {
		.hidden-nav {
			.navbar-nav > li > a {
				margin: 10px 5px;
				font-size: 20px;
			}
		}
		.is-fill .hidden-nav .navbar-nav > li > a {
			padding: 5px 15px;
		}
	}
}