#knowledge {
	padding-bottom: 6rem;
	padding-top: 6rem;
	background-color: #5f9276;
	background-image: url("../images/pattern-blue-2.png");
	background-repeat: repeat;

	div.knowledge_wrap {
		position: relative;
		margin: auto;
		
		h2.knowledge_title {
			width: 250px;
			height: 250px;
			left: 50%;
			top: 40%;
			bottom: auto;
			right: auto;
			transform: translateX(-50%) translateY(-50%);
			position: absolute;
			text-align: center;
			border-radius: 100%;
			background-color: #ffffff;
			padding: 20px;
			span {
				display: block;
				color: #d2056d;
				font-size: 25px;
				font-weight: bold;
				position: relative;
				left: 50%;
				top: 50%;
				bottom: auto;
				right: auto;
				transform: translateX(-50%) translateY(-50%);
				text-transform: uppercase;
				letter-spacing: 2px;
			}
		}
		ul {
			list-style: none;
			text-align: center;
			margin: 0;
			padding: 0;
			li {
				position: absolute;
				text-transform: uppercase;
				color: #fff;
				border-radius: 100%;
				text-align: center;

				span {
					position: relative;
					display: block;
					font-size: 14px;
					left: 50%;
					top: 50%;
					bottom: auto;
					right: auto;
					letter-spacing: 2px;
					transform: translateX(-50%) translateY(-50%);
				}

			}
		}
	}
}


@media (min-width: 993px) {
	#knowledge {
		div.knowledge_wrap {
			width: 80%;
			max-width: 600px;
			height: 600px;

			ul li[class^="option-lg-"], ul li[class*="option-lg-"] {
				background-color: rgba(255,255,255,0.6);
				width: 180px;
				height: 180px;
			}
			ul li.option-lg-1 {
				top: 120px;
				left: 10px;
			}
			ul li.option-lg-2 {
				top: 190px;
				right: 20px;
			}
			ul li.option-lg-3 {
				right: 120px;
				bottom: 80px;
			}
			ul li[class^="option-md-"], ul li[class*="option-md-"] {
				background-color: rgba(255,255,255,0.5);
				width: 145px;
				height: 145px;
			}
			ul li.option-md-1 {
				bottom: 160px;
				left: -60px;
			}
			ul li.option-md-2 {
				right: 200px;
				top: 0px;
			}
			ul li.option-md-3 {
				bottom: 70px;
				left: 170px;
			}
			ul li.option-md-4 {
				right: -90px;
				top: 20%;
			}
			ul li.option-md-5 {
				right: -30px;
				bottom: 110px;
			}

			ul li[class^="option-sm-"], ul li[class*="option-sm-"] {
				background-color: rgba(255,255,255,0.4);
				width: 130px;
				height: 130px;
			}
			ul li.option-sm-1 {
				bottom: 180px;
				left: 80px;
			}
			ul li.option-sm-2 {
				top: 30px;
				left: 140px;
			}
			ul li.option-sm-3 {
				right: 85px;
				top: 60px;
			}
			ul li.option-sm-4 {
				left: -50px;
				top: 15px;
			}
		}
	}
}
@media (max-width: 992px) {
	#knowledge {
		height: auto;

		div.knowledge_wrap h2.knowledge_title {
			display: none;
		}

		div.knowledge_wrap ul {
			li {
				width: 120px;
				height: 120px;
				margin: .5em;
				position: relative;
				top: auto;
				left: auto;
				display: inline-block;
				background-color: rgba(255,255,255,0.5);
				font-size: 20px;
			}
		}
	}
}
