#works {
	padding-bottom: 3rem;
	padding-top: 3rem;
	height: 100vh;
	@include flexbox();
	@include align-items(center);

	.works_descrip_wrapper {
		padding-bottom: 3rem;
		padding-top: 3rem;
		height: 350px;
	}

	.works_slider_wrapper {
		padding-bottom: 3rem;
		padding-top: 5rem;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);

		img {
			width: 90%;
		}
	}
	.bx-wrapper {
		box-shadow: none;
		border: none;
		background: transparent;
		width: 75%;
		max-width: 75%;
		margin: 0 auto;
		.bx-controls-direction {
			.bx-prev {
				left: -20px;
			}
			.bx-next {
				right: -20px;
			}
		}
		.bx-pager {
			visibility: hidden;
		}
	}
}

@media (max-width: 992px) {
	#works {
		height: auto;
	}
}