@import '_mixins';

@import '_hero';
@import '_works';
@import '_skills';
@import '_about';
@import '_contact';

body {
	background-color: #e0e0e0;
	font-family: "Lato","Helvetica Neue";
	font-size: 20px;
}
h1 {
	font-family: 'Abel', sans-serif;
	font-size: 50px;
}
h2 {
	font-family: 'Unica One', cursive;
	font-size: 38px;
}

@media (max-width: 992px) {
	h2 {
		font-size: 34px;
	}
}